*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 18px 0;
    background-color:#2e2a28 ;
    color:#f3f0ef
}

header nav li {
    display: inline;
    font-size: 24px;
    margin-left: 16px;
}

header nav li a {
    text-decoration: none;
    color: #f3f0ef;
}

/*
    background-color:  #e04415;
    background-color:#2e2a28;
    background-color:#2e2a28 ;
    color:azure;
    box-shadow: #11100f 1px 1px 1px 1px;
    background-color:#2e2a28 ; 
    color: #f3f0ef;
*/
