* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
article h2,
article h3,
form button {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

body, input, textarea, p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.hover-image {
    width: 200px; 
    height: auto; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 5px;
}

.hover-image:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.hover-image-two {
    width: 200px; 
    height: auto; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.hover-image-two:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


header {
    padding: 16px 0;
    background-color: #3D2B1F;
    color: #FFD59A;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 25px;
}

header nav li a {
    color: #FFF8E7;
    text-decoration: none;
    padding: 34px;
}

.conteiner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.conteiner img{
    padding: 1px;
}

header .conteiner,
section .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

nav a:hover {
    color:  #d6ab4e;
}

#home{
    padding-top: 35px;
}

.brands-list img {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section,
article {
    padding: 24px 0;
    color: #3D2B1F ;
}

section h2 {
    margin-bottom: 16px;
}

section p,
article p {
    margin-bottom: 10px;
}

.store-front {
    margin-right: 32px;
    border-radius: 8px;
    border: 2px solid #C68E17;
    height: 450px;
}

.store-front:hover{
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

article h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #3D2B1F;
    color: #FFD59A;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #C68E17;
}

input:focus, textarea:focus {
    outline-color: #3D2B1F;
}

#menu {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.menu-item {
    text-align: center;
    margin: 0 15px 20px; 
}

.menu-item img {
    border-radius: 50%;
    width: 300px;
    height: 300px; 
    object-fit: cover;
    border: 3px solid #C68E17;
}

#menu2 {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.menu-item {
    text-align: center;
    margin: 0 15px 20px; 
}

.menu-item img {
    border-radius: 50%;
    width: 300px;
    height: 300px; 
    object-fit: cover;
    border: 3px solid #C68E17;
}

.info h3,
.info p {
    margin-top: 15px;
    color: #3D2B1F;
    word-break: break-word;
}

.info {
    margin-top: 20px;
}

#requests {
    padding: 0 33%;
    text-align: center;
    color: #3D2B1F;
}

#requests h2 {
    color: #4B3621;
}

::placeholder{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color:#ccac67;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #4B3621;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3D2B1F;
    border-radius: 4px;
    box-sizing: border-box;
}

.animated-button {
    background-color: #3D2B1F; 
    border: none;
    color: #FFD59A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
    border-radius: 8px;
}

.animated-button:hover {
    background-color: #d6ab4e; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

#contact {
    padding: 100px;
    text-align: center;
    color: #3D2B1F;
}

address{
    font-family: "Pacifico", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}

.contato-opcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contato-item {
    background-color: #4B3621;
    border: 1px solid #dddddd ;
    border-radius: 8px;
    padding: 20px;
    width: 340px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.contato-item h3 {
    margin-bottom: 10px;
    color: #FFD59A;
}

.contato-item p, .contato-item ul {
    margin: 0;
    color:  #FFF8E7;
}

.contato-item a {
    color: #d6ab4e;
    text-decoration: none;
}

footer {
    background-color: #3D2B1F;
    color: #ecf0f1;
    padding: 20px 0;
}



/*
Marrom Café Escuro: #4B3621
Marrom Espresso: #3B2F2F
Marrom Chocolate Amargo: #3D2B1F;
Café: #6f4e37
Café: #6f4e37
Café com Leite: #a18262
Moca: #6a4e36
Branco Leitoso: #FFF8E7
Creme Claro: #F5F5DC
Caramelo Claro: #FFD59A
Caramelo Médio: #C68E17
Caramelo Escuro: #8B5742
*/
